
<div class="contenedorskill">
    <h5>Habilidades</h5>
<br>
    <div class="row">
        
        <div *ngFor="let habilidades of habilidadesList" class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{habilidades.nombre}}</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="habilidades.porcentaje" >
                        {{habilidades.porcentaje}}%
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>

                            

      </div>

        
</div>


