
<div class="contenedor">
<br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 card ">
            <div class="card-body">
                <h5 class="card-title">Habilidad 1</h5>
                <p> Habilidad</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:70%">
                      70%
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm-3 card ">
            <div class="card-body">
                <h5 class="card-title">Habilidad 2</h5>
                <p> Habilidad</p>
            </div>
        </div>
        <div class="col-sm-3 card ">
            <div class="card-body">
                <h5 class="card-title">Habilidad 3</h5>
                <p> Habilidad</p>
            </div>
        </div>
        

      </div>
    
</div>


