<h3 class="m-5">Modificar acerca de</h3>
<div class="m-5 w3-padding w3-border w3-round ws-grey">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Modificar acerca de</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="personaEditar.acerca_de" >
  </div>
  
  <div class="d-grid gap-2 d-md-block">
  <button type="button" class="btn btn-primary" style="margin: 10px" (click)="onUpdate()">Actualizar Acerca de</button>
  <a routerLink="/portfolio">
    <button type="button" class="btn btn-dark">Volver al portfolio</button></a>
  </div>
</div>

