<div class="card img-fluid" >
    <img class="card-img-top" src="./assets/img/electronica.png" alt="Card image" style="width:100%">
          <img   src={{persona.url_foto}} class="rounded-circle img-fluid col-md-3 perfil-image">
</div>
<div>
  <br>
  <h4 class="text-bg-primary text-center">{{persona.nombre}}&nbsp; {{persona.apellido}}
    &nbsp;-&nbsp;{{persona.profesion}}
  </h4>

  <div *ngIf="esta_logueado">      
    <button type="button" class="btn btn-secondary" routerLink="/editarbanner/{{persona.id_persona}}">Editar banner</button>
    <br><br>
    </div>

</div>

