<h3 class="m-5">Modificar Datos del banner</h3>
<form [formGroup]="formularioBanner" (ngSubmit)="onUpdate($event)" class="m-5 w3-padding w3-border w3-round ws-grey">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="personaEditar.nombre"
    formControlName="nombre" >
    <div *ngIf="Nombre?.errors && Nombre?.touched">
      <p *ngIf="Nombre?.hasError('required')" class="text-danger">
         El nombre es requerido
      </p>
    </div>
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="personaEditar.apellido" 
    formControlName="apellido">
    <div *ngIf="Apellido?.errors && Apellido?.touched">
      <p *ngIf="Apellido?.hasError('required')" class="text-danger">
         El apellido es requerido
      </p>
    </div>
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Profesión</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="personaEditar.profesion"
    formControlName="profesion" >
    <div *ngIf="Profesion?.errors && Profesion?.touched">
      <p *ngIf="Profesion?.hasError('required')" class="text-danger">
         La profesión es requerida
      </p>
    </div>
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">url de imagen</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="personaEditar.url_foto"
    formControlName="url_foto" >
    <div *ngIf="Url_foto?.errors && Url_foto?.touched">
      <p *ngIf="Url_foto?.hasError('required')" class="text-danger">
         La url de la foto es requerida
      </p>
    </div>
  </div>
  
  <div class="d-grid gap-2 d-md-block">
  <button type="submit" class="btn btn-primary" style="margin: 10px" >Actualizar datos</button>
  <a routerLink="/portfolio">
    <button type="button" class="btn btn-dark">Volver al portfolio</button></a>
  </div>

</form>
