<div class="card mat-card contenedor">
    <div class="card-body">
        <h5 class="card-titles">Educación</h5><br>
        <div class="w3-container">
            <ul class="w3-ul w3-card-4 w3-col s8" >
                <li *ngFor="let educacion of educacionList" class="w3-bar">
                    <img src="./assets/img/cursos.png" class="w3-bar-item w3-hide-small" style="width:60px">

                    <div class="w3-bar-item">
                        <span ><h6>{{educacion.institucion}}</h6></span><br>
                        <span>{{educacion.titulo}}</span><br>
                        <span>{{educacion.final}} - {{educacion.comienzo}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<br>
</div>
