<div>
    <h5>Nueva Educacion</h5>
    <div>
      Nueva educacion:
      <input 
        placeholder="Ingrese nueva educacion" 
        type="text" 
        [(ngModel)]="institucion" />
    </div>
    <br>
       <div>
        Título:
        <input 
          placeholder="Ingrese nuevo título" 
          type="text" 
          [(ngModel)]="titulo" />
      </div>
      <br />

      
      <div>
        Fecha de inicio:
        <input 
          placeholder="Ingrese fecha de inicio" 
          type="text" 
          [(ngModel)]="fecha_inicio" />
      </div>
      <br />
      <div>
        Fecha de final:
        <input 
        placeholder="Ingrese fecha de finalización"
          type="text" 
          [(ngModel)]="fecha_final" />
      </div>
      <br />
      <div>
        Imagen:
        <input 
        placeholder="Ingrese la url del logo de la institución"
          type="text" 
          [(ngModel)]="url_logoinst" />
      </div>
      <br />

    <button type="button" class="btn btn-primary" (click)="onCreate()">Grabar educacion</button>
            
</div>


