<h3 class="m-5">Editar experiencia laboral</h3>
<form [formGroup]="formularioExperiencia" (ngSubmit)="onUpdate($event)" class="m-5 w3-padding w3-border w3-round ws-grey">

  <div class="col-md-6">
    <label for="formGroupExampleInput" class="form-label">Nombre de empresa</label>
    <input type="text" class="form-control" id="formGroupExampleInput" 
         [(ngModel)]="experienciaEditar.empresa" formControlName="empresa" >
    <div *ngIf="Empresa?.errors && Empresa?.touched">
    <p *ngIf="Empresa?.hasError('required')" class="text-danger">
        La empresa es requerida
    </p>
    </div>
  </div>
  
  <div class="col-12">
    <label for="formGroupExampleInput" class="form-label">Puesto</label>
    <input type="text" class="form-control" id="formGroupExampleInput" 
             [(ngModel)]="experienciaEditar.puesto" formControlName="puesto">
    <div *ngIf="Puesto?.errors && Puesto?.touched">
    <p *ngIf="Puesto?.hasError('required')" class="text-danger">
        El puesto es requerido
    </p>
    </div>
  </div>

  <div class="col-12">
    <label for="formGroupExampleInput" class="form-label">Descripción de tareas del Puesto</label>
    <input type="text" class="form-control" id="formGroupExampleInput" 
              [(ngModel)]="experienciaEditar.descripcion" formControlName="descripcion">
    <div *ngIf="Descripcion?.errors && Descripcion?.touched">
      <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
          La descripción es requerida
      </p>
    </div>
  </div>

  <div class="row g-3">
      <div class="col-md-6">
        <label for="formGroupExampleInput" class="form-label">Fecha de inicio</label>
        <input type="text" class="form-control" id="formGroupExampleInput" 
                [(ngModel)]="experienciaEditar.fecha_desde" formControlName="fecha_desde">
        <div *ngIf="Fecha_desde?.errors && Fecha_desde?.touched">
          <p *ngIf="Fecha_desde?.hasError('required')" class="text-danger">
              La fecha de comienzo es requerida
          </p>

          <p *ngIf="Fecha_desde?.hasError('pattern')" class="text-danger">
            El formato debe ser dd/mm/aaaa
          </p>
        </div>
      </div>
      
      <div class="col-md-6">

        <!-- Si es actual-->
        <div *ngIf="esactual, else elseBlock">
          <fieldset disabled>
          <label  for="disabledTextInput" class="form-label">Fecha de finalización</label>
          <input type="text" class="form-control" id="disabledTextInput" 
             value="Actualidad" placeholder="Actualidad"
            formControlName="fecha_hasta" >
          </fieldset>
          </div>

        <!-- Si no es actual-->
        <ng-template #elseBlock>
        <label for="formGroupExampleInput" class="form-label">Fecha de finalización</label>
        <input type="text" class="form-control" id="formGroupExampleInput" 
                 [(ngModel)]="experienciaEditar.fecha_hasta" formControlName="fecha_hasta">
        <div *ngIf="Fecha_hasta?.errors && Fecha_hasta?.touched">
        <p *ngIf="Fecha_hasta?.hasError('required')" class="text-danger">
            La fecha final es requerida
        </p>

        <p *ngIf="Fecha_hasta?.hasError('pattern')" class="text-danger">
          El formato debe ser dd/mm/aaaa
        </p>
        </div>
      </ng-template>

      <!-- Checkbox si está editando esperiencia actual (sino da error formato cuando toco
        fecha de finalización)-->
      <div class="form-check">
        <input  type="checkbox" 
        [(ngModel)]="esactual" 
          formControlName="trabajoactual" >
        <label class="form-check-label" for="trabajoactual">
        Es trabajo actual
        </label>
      </div>

      </div>
  </div>
  
  
  <div class="col-12">
    <label for="formGroupExampleInput" class="form-label">url del logo de la empresa</label>
    <input type="text" class="form-control" id="formGroupExampleInput" 
             [(ngModel)]="experienciaEditar.url_logo" formControlName="url_logo" >
    <div *ngIf="Url_logo?.errors && Url_logo?.touched">
    <p *ngIf="Url_logo?.hasError('required')" class="text-danger">
        La url del logo es requerida
    </p>
    </div>
  </div>

  <div class="col-12">
    <br>
    <button type="submit" class="btn btn-primary" style="margin: 10px">Actualizar curso</button>
    <a routerLink="/portfolio">
      <button type="button" class="btn btn-dark">Volver al portfolio</button></a>
  </div>
</form>

