<h3 class="m-5">Modificar habilidad</h3>
<form [formGroup]="formularioHabilidad" (ngSubmit)="onUpdate($event)" class="m-5 w3-padding w3-border w3-round ws-grey">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Modificar habilidad</label>
    <input type="text" class="form-control" id="formGroupExampleInput" 
    [(ngModel)]="habilidadEditar.nombre" formControlName="nombre" >
    <div *ngIf="Nombre?.errors && Nombre?.touched">
      <p *ngIf="Nombre?.hasError('required')" class="text-danger">
         El Nombre es requerido
      </p>
    </div>
  </div>


  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Modificar porcentaje</label>
    <input type="number" class="form-control" id="formGroupExampleInput2"  [(ngModel)]="habilidadEditar.porcentaje" formControlName="porcentaje">
    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
      
      <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
         El Porcentaje es requerido
      </p>

      <p *ngIf="Porcentaje?.hasError('max')" class="text-danger">
        El Porcentaje no puede superar el 100 %
     </p>

     <p *ngIf="Porcentaje?.hasError('min')" class="text-danger">
      El Porcentaje no puede ser menor a 1 %
   </p>
    </div>  
  </div>

  <br>
  <button type="button" type="submit" class="btn btn-primary" >Actualizar Habilidad</button>
</form>
