<div class="contenedorskill">
    
    <h5>Habilidades</h5>
    <div *ngIf="esta_logueado">      
    <button type="button" class="btn btn-secondary" routerLink="/nuevahabilidad">Agregar habilidad</button>
    <br><br>
    </div>

      <!-- Muestro la lista de habilidades-->  

      <div class="row">
        
        <div *ngFor="let habilidades of habilidadesArray" class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    
                    <div><span><h5>{{habilidades.nombre}}</h5></span>
                      <!-- Botenes de edición y borrado-->
                      <div *ngIf="esta_logueado">
                        <span><a routerLink="/editarhabilidad/{{habilidades.id_habilidad}}">
                        <fa-icon [icon]="faPen"></fa-icon></a></span>&nbsp;
                        <span><fa-icon [icon]="faTrashCan" data-bs-toggle="modal" data-bs-target="#borrarHabilidadModal"
                          (click)="onOpenModal(habilidades.id_habilidad)" 
                          ></fa-icon></span>
                      </div>
                    </div>
                                      
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="habilidades.porcentaje" >
                        {{habilidades.porcentaje}}%
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
                            

      </div>

      <!-- Modal de borrado-->
      <div class="modal" id="borrarHabilidadModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar borrado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿ Está seguro de borrar "{{habilidadBorrar.nombre}}" ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
                          (click)="onDelete(habilidadBorrar.id_habilidad)">Borrar Habilidad</button>
            </div>
          </div>
        </div>
      <!-- Fin del modal de boorado-->

      </div>
 </div>


