<div class="contenedorskill">
    
    <h5>Habilidades</h5>
          
    <button type="button" class="btn btn-primary" routerLink="/nuevahabilidad" *ngIf="esta_logueado" >Agregar habilidad</button>
<br><br>

      <!-- Muestro la lista de habilidades-->  

      <div class="row">
        
        <div *ngFor="let habilidades of habilidadesArray" class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    
                    <div><span><h5>{{habilidades.nombre}}</h5></span>
                    <span *ngIf="esta_logueado"><a routerLink="/editarhabilidad/{{habilidades.id_habilidad}}">
                        <fa-icon [icon]="faPen"></fa-icon></a></span>&nbsp;
                    <span *ngIf="esta_logueado"><fa-icon [icon]="faTrashCan" (click)="onDelete(habilidades.id_habilidad)"></fa-icon></span>
                    </div>
                    
                    
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="habilidades.porcentaje" >
                        {{habilidades.porcentaje}}%
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>

                            

      </div>


</div>


