<div class="contenedorskill">
    
    <h5>Habilidades</h5>
    <div *ngIf="esta_logueado">      
    <button type="button" class="btn btn-secondary" routerLink="/nuevahabilidad">Agregar habilidad</button>
    <br><br>
    </div>

      <!-- Muestro la lista de habilidades-->  

      <div class="row">
        
        <div *ngFor="let habilidades of habilidadesArray" class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    
                    <div><span><h5>{{habilidades.nombre}}</h5></span>
                      <div *ngIf="esta_logueado">
                        <span><a routerLink="/editarhabilidad/{{habilidades.id_habilidad}}">
                        <fa-icon [icon]="faPen"></fa-icon></a></span>&nbsp;
                        <span><fa-icon [icon]="faTrashCan" (click)="onDelete(habilidades.id_habilidad)"></fa-icon></span>
                      </div>
                    </div>
                    
                    
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="habilidades.porcentaje" >
                        {{habilidades.porcentaje}}%
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>

                            

      </div>


</div>


