<h3 class="m-5">Agregar nueva habilidad</h3>
<form [formGroup]="formularioHabilidad" (ngSubmit)="onCreate($event)" class="m-5 w3-padding w3-border w3-round ws-grey">
  <div  class="form-group" class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nueva habilidad</label>
    <input type="text" formControlName="nombre" class="form-control" id="formGroupExampleInput" >
    <div *ngIf="Nombre?.errors && Nombre?.touched">
      <p *ngIf="Nombre?.hasError('required')" class="text-danger">
         El Nombre es requerido
      </p>
    </div>

  </div>

  <div  class="form-group" class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Porcentaje alcanzado</label>
    <input type="number" formControlName="porcentaje" class="form-control" id="formGroupExampleInput2">
    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
      
      <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
         El Porcentaje es requerido
      </p>

      <p *ngIf="Porcentaje?.hasError('max')" class="text-danger">
        El Porcentaje no puede superar el 100 %
     </p>

     <p *ngIf="Porcentaje?.hasError('min')" class="text-danger">
      El Porcentaje no puede ser menor a 1 %
   </p>
    </div>
  
  </div>
  <div class="d-grid gap-2 d-md-block">
    <br>
  <br>
  <button type="submit" class="btn btn-primary" style="margin: 10px">Agregar Habilidad</button>
  <a routerLink="/portfolio">
    <button type="button" class="btn btn-dark">Volver al portfolio</button></a>
  </div>
</form>
