<div class="card mat-card contenedor">
    <div class="card-body">
        <h5 class="card-titles">Proyectos</h5>

        <div *ngIf="esta_logueado">
        <button type="button" class="btn btn-secondary" routerLink="/nuevoproyecto">Agregar Proyecto</button>
        <br><br>
        </div>

        <div class="w3-container">
            <ul class="w3-ul w3-card-4 w3-col s8" >
                <li *ngFor="let proyecto of proyectosArray" class="w3-bar">
                    <img src={{proyecto.url_proyecto}} class="w3-bar-item w3-hide-small" style="width:60px">
                    
                    <div class="w3-bar-item">
                        <span ><h6>{{proyecto.nombre}}</h6></span>
                        <div *ngIf="esta_logueado">
                        <span><a routerLink="/editarproyecto/{{proyecto.id_proyecto}}">
                            <fa-icon [icon]="faPen"></fa-icon></a></span>&nbsp;
                        <span><fa-icon [icon]="faTrashCan" (click)="onDelete(proyecto.id_proyecto)"></fa-icon></span>
                        <br>
                        </div>
                        <span>{{proyecto.descripcion}}</span><br>
                        <span>{{proyecto.fecha_final}} - {{proyecto.fecha_inicio}}</span>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
<br>
</div>
